.about {
    background: rgb(235,235,240);
    background: linear-gradient(180deg, rgba(235,235,240,1) 0%, rgba(224,224,236,1) 100%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(59, 157, 209);
}

.about-text-container {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    color: #515151;
}

.special-text {
    color: rgb(59, 157, 209);
}

mark {
    background-color: transparent;
    color: rgb(59, 157, 209);
}

ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;
}

li {
    font-size: 14px;
    margin-right: 50px;
    padding: 0.7;
    border-radius: 10px;
}
li:active {
    background-color: slateblue;
    color: white;
}

.about-container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about-container img {
    width: 150px;
    height: 150px;
    margin: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all .5s ease;
    cursor: pointer;
}

p {
    font-weight: 300;
}

.icons-container {
    margin-top: 60px;
    display: flex;
    gap: 25px;
    flex-direction: row;
    justify-content: center;
    color:rgb(145, 145, 145);
    font-size: 50px;
}

.about h2 {
    font-size: 50px;
    margin-bottom: 0;
    color: #3f3f3f;
    cursor: default;
}


@media screen and (max-width: 800px) {
    .icons-container {
        
        font-size: 25px;
    }
}