.intro {
    display: flex;
    color: rgb(62, 64, 102);
}

.intro-main {
    position: relative;
    padding: 2em;
    margin: 12vh auto 0 auto;
    box-sizing: border-box
}

.name {
    grid-column: 0;
    grid-row: 0;
}

.title {
    grid-column: 0;
    grid-row: 1;
    font-weight: 300;
    font-size: 1px;
}


.wrap {
    width: 100%;
    height: 100%;
    color: rgb(241, 245, 255);
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.intro-main h1 {
    font-size: 70px;
    margin-bottom: 0;
    color: #3f3f3f;
    cursor: default;
}

img {
    max-width: 300px;
}

.developer-title {
    color: rgb(59, 157, 209);
    margin-top: 0;
    font-size: 20px;
    font-weight: 500;
    cursor: default;
}

@media screen and (max-width: 1200px) {
    .img-container {
        width: 200px;
        height: 200px;
    } 
    .intro-right {
        display: none;
    }

  }

@media screen and (max-width: 800px) {
    .intro-main h1 {
        font-size: 50px;
    } 
    .developer-title {
        font-size: 20px;
    } 

}