.intro {
    background: rgb(235,235,240);
    background: linear-gradient(0deg, rgba(235,235,240,1) 0%, rgba(224,224,236,1) 100%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(62, 64, 102);

}

.intro-right {
    display: none;
    flex: 0.5;
    justify-content: center;
    align-items: center;
    
}
.intro-left {
    flex: 0.5;
    display: grid;
}

.name {
    grid-column: 1;
    grid-row: 1;
}

.title{
    grid-column: 1;
    grid-row: 2;
    font-weight: 300;
    font-size: 1px;
}

img {
    height: 90%;
}

.img-container {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap {
    width: 100%;
    height: 100%;
    color: rgb(241, 245, 255);
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.intro-left h1 {
    font-size: 70px;
    margin-bottom: 0;
    color: #3f3f3f;
} 
.intro-left h3 {
    margin-top: 0;
    font-size: 20px;
    color:rgb(145, 145, 145);
    font-weight: 400;
}

.icons-container {
    margin-top: 50px;
    display: flex;
    gap: 25px;
    flex-direction: row;
    justify-content: center;

}

img {
    width: 5%;
}

.developer-title {
    color: rgb(59, 157, 209);
    margin-top: 0;
    font-size: 20px;
    font-weight: 500;
}

@media screen and (max-width: 1200px) {
    .img-container {
        width: 200px;
        height: 200px;
    } 
    .intro-right {
        display: none;
    }

  }

  @media screen and (max-width: 800px) {
    .intro-left h1 {
        font-size: 50px;
    } 
    .intro-left h3 {
        font-size: 20px;
    } 

  }