.i {
    display: flex;
    height: 100vh;
  }
  
  .i-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .i-right {
    flex: 1;
    position: relative;
  }
  
  .i-left-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .i-intro {
    font-size: 30px;
    font-weight: 300;
  }
  
  .i-name {
    font-size: 60px;
    cursor: default;
  }
  
  .i-title-item {
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(59, 157, 209);
    cursor: default;
  }
  
  .i-scroll {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20px;
  }

  .i-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 300px;
    box-sizing: border-box;
    background-color: rgb(59, 157, 209);
    border: 4px solid rgb(59, 157, 209);
  }

  .i-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
  }
  
  @media screen and (max-width: 480px) {
    .i {
      flex-direction: column;
    }
  
    .i-left-wrapper {
    
      padding: 10px;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 100%;
    }
  
    .i-desc{
      display: none;
    }

    .i-img {
        max-width: 80%;
        max-height: 80%;
    }

    .i-name {
        font-size: 55px;
    }

    .i-title-item {
        font-size: 25px;
    }
    
  }


/*
.intro {
    display: flex;
    color: rgb(62, 64, 102);
}

.intro-main {
    position: relative;
    padding: 2em;
    margin: 12vh auto 0 auto;
    box-sizing: border-box
}

.name {
    grid-column: 0;
    grid-row: 0;
    padding-bottom: 0.1em;
}

.title {
    grid-column: 0;
    grid-row: 1;
    font-weight: 300;
    font-size: 1px;
}


.wrap {
    width: 100%;
    height: 100%;
    color: rgb(241, 245, 255);
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.intro-main h1 {
    font-size: 70px;
    margin-bottom: 0;
    color: #3f3f3f;
    cursor: default;
}
img {
    max-width: 300px;
    max-height: 300px;
}

.img-border {

    border-radius: 200px;
    box-sizing: border-box;
    background-color: rgb(59, 157, 209);
    border: 4px solid rgb(59, 157, 209);
}


.developer-title {
    display: inline-block;
    border-top: 2px solid black;
    padding-top: 0.5em;
    display: inline-block;
    color: rgb(59, 157, 209);
    font-size: 20px;
    font-weight: 500;
    cursor: default;
}
*/