.technologies {
    background-color: rgb(62, 64, 102);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;
}

li {
    font-size: 14px;
    margin-right: 50px;
    padding: 0.7;
    border-radius: 10px;
}
li:active {
    background-color: slateblue;
    color: white;
}

.technologies-container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.technologies-container img {
    width: 150px;
    height: 150px;
    margin: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all .5s ease;
    cursor: pointer;
}
