.a {
    display: flex;
    height: auto;
    width: 100%;
    margin: auto;
    margin-top: 25px;
  }
  
  
  .a-left {
    width: 60%;
    position: relative;
  }
  
  
  .a-right {
    width: 40%;
    position: relative;
    margin-top: 43px;
  }
  
  .a-name {
    cursor: default;
    color: rgb(20, 0, 0);
    position: relative;
    top: 50%;
    transform: translateY(-50%);

  
  }
  
  .a-header {
    padding: 0;
    margin-bottom: 10px;
    font-size: 2em;
    font-weight: 600;
    color: #1c1c34;
    text-align: left;


  }
  
  .about-text {
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    color: #1c1c34;
    text-align: left;
    line-height: 1.6;
    font-weight: 400;
  }
  
  .a-description {
    cursor: default;
    color: rgb(20, 0, 0);
    float: left;
    text-align: left;
    width: 100%;
  }
  
  .a-portrait {
    width: 100%;
    height: auto;
    border: 3px solid rgb(235, 235, 235);
    border-radius: 50%;
  }
  
  .tag {
    color: black;
    display: inline-block;
    padding: 10px 15px 10px 15px;
    border-radius: 8px 8px 8px 8px;
    text-align: center;
    position: relative;
    margin: 5px 5px 5px 5px;
    font-family: helvetica;
    border: 2px solid rgba(170, 170, 170, 0.425);
    font-weight: 700;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 900px) {
    .a {
      flex-direction: column;
    }
  
    .a-name {
      transform: translateY(0%);
      position: relative;
      text-align: center;
    }
  
    .a-left {
      width: 100%;
    }
  
  
    .a-right {
      width: 100%;
      margin-top: 20px;
    }
  
    .a-portrait {
      max-width: 350px;
    }
  
    h2{
      font-size: 2em;
    }
  
  }