.language-switcher {
    margin-left: 1rem;
    background-color: rgb(241, 245, 255);
}

select {
    background-color: rgb(241, 245, 255);
    border-radius: 99px;
}
select option {
    background-color: rgb(241, 245, 255);
}