.language-switcher {
    margin-left: 1rem;
    background-color: transparent;
}

select {
    background-color: var(--static-light-white);
    border-radius: 99px;
}
select option {
    background-color: var(--static-light-white);
}
