.navigation {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem 1rem 0rem;
    background-color: rgb(241, 245, 255);
    color: #10101d;
  }
  
  .navbar-container {
    background-color: rgb(241, 245, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0rem 1.5rem 0rem 1.5rem;
  }
  
  .navbar-brand {
    background-color: rgb(241, 245, 255);
    font-size: 1.5rem;
    font-weight: bold;
    color: #10101d;
    text-decoration: none;
  }
  
  .navbar-links {
    background-color: rgb(241, 245, 255);
    display: flex;
    align-items: center;
  }
  
  .navbar-link {
    background-color: rgb(241, 245, 255);
    margin-left: 1rem;
    font-size: 1rem;
    color: #10101d;
    text-decoration: none;
  }
  
  @media (max-width: 767px) {
    .navbar-container {
        background-color: rgb(241, 245, 255);
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1024px;
        margin: 0 auto;
      }
  }
.navigation-container {
    transition: all 1s ease-in-out;
    list-style-type: none;
    height: auto;
    max-width: 1024px;
    margin: auto;
}
.navigation-styling {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-size: 1em;
    background-color: rgb(241, 245, 255);
}

.navibar-right-menu {
    width: 50%;
    height: 50%;
    color: #10101d;
    text-align: center;
    background-color: rgb(241, 245, 255);
}

@media screen and (max-width: 900px) {
    .site-name:hover {
        color: rgb(241, 245, 255);
        transition: all 0s ease-out;
    }
    
    .navigation-styling i:hover {
        color: rgb(241, 245, 255);
        transition: all 0s ease-out;
    }
}



