.navigation {
    width: 100%;
    height: 80px;
    background-color: transparent;
    color: rgb(241, 245, 255);
    position: fixed;
    top: 0;
    z-index: 999;
    transition: all 1s ease;
    justify-content: center;
    align-items: center;
}
.navigation-styling {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}


.navigation-styling i {
    color: rgb(241, 245, 255);
}

.navigation-styling i:hover {
    color: rgb(64, 89, 143);
    transition: all 0.5s ease-out;
}

.site-name:hover {
    color: rgb(64, 89, 143);
    transition: all 0.5s ease-out;
}

.right-icon:hover {
    color: rgb(64, 89, 143);
    transition: all 0.5s ease-out;
}

.navigation-left {
    display: flex;
    align-items: center;
    font-size: 0.7em;
}
.navigation-right {
    display: flex;
    align-items: center; 
}

.navi-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 60px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
}


@media screen and (max-width: 900px) {
    .site-name:hover {
        color: rgb(241, 245, 255);
        transition: all 0s ease-out;
    }
    
    .right-icon:hover {
        color: rgb(241, 245, 255);
        transition: all 0s ease-out;
    }
    .navigation-styling i:hover {
        color: rgb(241, 245, 255);
        transition: all 0s ease-out;
    }

  }