.App {
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/*
.App-header {
  text-align: center;
  height: 100vh;
  max-width: 1024px;
  margin: auto;
  border: 1px solid green;
}
*/
.App-header {
height: 100%;
width: 100%;
position: relative;
/*background-color: green;*/
}

.universal-page-container {
  /*border: 1px solid red;*/
  max-width: 1024px;
  margin: 0 auto;
  padding: 0rem 1.5rem 0rem 1.5rem;
  padding-top: 60px;
  min-height: 100vh;
  font-weight: 100;
  background-color: var(--dark-grey);
}

.construction-site {
  width: 40%;
}

#scrollToTopBtn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: var(--light-white);
  color: var(--dark-grey);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, opacity 0.3s;
  z-index: 9999;
  margin-right: 15px;
  border: 1px solid var(--dark-grey);
}

#scrollToTopBtn::before {
  content: '\2191';
  /* Unicode character for the arrow */
}

#scrollToTopBtn.visible {
  display: block;
  /* Visible after scrolling 50px */
}