@import url("https://fonts.googleapis.com/css2?family=Sora");

/*
Use as colors:
var(--dark-purple);
var(--light-white);
*/

:root {
  --dark-purple: #10101d;
  --light-white: rgb(235, 235, 235);

}

body {
  position: relative;
  margin: 0;
  font-family: 'Sora',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  background: -webkit-linear-gradient(360deg, #f6fbfd 10%, #e8ebee 360%);
  /*background: #030303;*/
}

* {
  background-color: var(--dark-purple);
  font-family: 'Sora',
  sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--light-white);
}

p {
  font-size: 18px;
  line-height: 1.5;
  color: var(--light-white);
}