body {
  position: relative;
  margin: 0;
  font-family: 'Sora',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  background: -webkit-linear-gradient(360deg, #f6fbfd 10%, #e8ebee 360%);
  /*background: #030303;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  background-color: #1c1c34;
}

