@import url("https://fonts.googleapis.com/css2?family=Sora");

body {
  position: relative;
  margin: 0;
  font-family: 'Sora',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  background: -webkit-linear-gradient(360deg, #f6fbfd 10%, #e8ebee 360%);
  /*background: #030303;*/
}

* {
  background-color: #10101d;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgb(235, 235, 235);;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: rgb(235, 235, 235);
}